<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">
<!-- Bootstrap core CSS -->
<!-- <link href="/resource/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<title>内容列表</title>

</head>
<body>
	<div class="container">
		<div class="row">
			<h3 class="page-header">
				<small>首页 > 文章管理 > 文章管理</small>
			</h3>
		</div>
		<div id="query" class="row">
			<div class="col-md-8 col-md-offset-2">
				<form role="form" class="form-inline">
					<span class="glyphicon"> <select class="form-control" id="contentType">
					</select>
					</span> <input type="text" class="form-control" id="name" placeholder="文件名">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>查询
					</button>
				</form>
				<br> <br>
			</div>

		</div>
		<div id="button" class="row">
			<button class="btn btn-danger" onclick="forTest()">批量删除</button>
			<button class="btn btn-success" data-toggle="modal" href="article_add" data-target="#myModal">新增文章</button>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width: 100%; height: 100%">
					<div class="modal-content"></div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 100%; height: 100%">
				<div class="modal-content"></div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<div class="row">
			<table class="table table-hover table-striped table-bordered" id="listTable">
				<thead>
					<tr>
						<th width="80">ID</th>
						<th>标题</th>
						<th width="80">分类</th>
						<th width="100">更新时间</th>
						<th width="75">浏览次数</th>
						<th width="75">发布状态</th>
						<th width="100">创建时间</th>
						<th width="140">操作</th>
					</tr>
				</thead>
				<tbody id="contentList">

				</tbody>
			</table>
		</div>
		<div id="Paging" class="row">
			<div id="pageInfo"></div>
			<div class="col-md-offset-8" id="page_nav_area"></div>
		</div>
	</div>
	<!-- <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
	<script type="text/javascript" src="/resource/jquery/jquery-3.2.1.min.js"></script>
	Include all compiled plugins (below), or include individual files as needed
	<script src="/resource/bootstrap-3.3.7/js/bootstrap.min.js"></script> -->
	<script type="text/javascript">
		$(function() {
			getType("#contentType");
			getList(1);
			$(document).on("click", ".edit_btn", function() {
				$("#editModal").modal({
					remote : "article_edit"
				});
				getContent($(this).attr("edit-id"));
			});
			$("#editModal").on("hidden.bs.modal", function() {
				UE.getEditor('editor2').destroy();
				$(this).removeData("bs.modal");
			});
			$("#myModal").on("hidden.bs.modal", function() {
				$(this).removeData("bs.modal");
				UE.getEditor('editor').destroy();
			});
		});
		function forTest() {
			$("#myModal").modal({
				remote : "welcome"
			});
		}

		function getList(pn) {
			$.ajax({
				type : "POST",
				dataType : "json",
				url : "/list",
				data : {
					"pn" : pn
				},
				contentType : "application/x-www-form-urlencoded",
				success : function(result) {
					$("#contentList").empty();
					$("#pageInfo").empty();
					$("#pageInfo").html("当前为 " + result.pageNum + " 页，共 " + result.total + " 条数据，共 " + result.pages + " 页");
					for (var i = 0; i < result.list.length; i++) {
						var td1 = $("<td></td>").append(result.list[i].contentId);
						var td2 = $("<td></td>").append('<a href = "/list/content?id=' + result.list[i].contentId + '">' + result.list[i].contentName + '</a>');
						var td3 = $("<td></td>").append(result.list[i].typeName);
						var td4 = $("<td></td>").append(result.list[i].updateTime);
						var td5 = $("<td></td>").append(result.list[i].pageviews);
						var td6 = $("<td></td>").append(result.list[i].contenState);
						var td7 = $("<td></td>").append(result.list[i].date);
						var td8 = $("<td></td>").append('<button class="btn btn-default btn-sm edit_btn" edit-id='+result.list[i].contentId+'><span class="glyphicon glyphicon-pencil"></span>编辑</button><button class="btn btn-default btn-sm "><span class="glyphicon glyphicon-trash"></span>删除</button>');
						$("<tr></tr>").append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).append(td8).appendTo("#contentList");
					}
					$("#contentList").trigger('create');
					build_page_nav(result);
					//$("contentType");
				},
				error : function(data) {
					alert("error:" + data.responseText);
				}
			});
		}
		function getType(ele) {
			$.ajax({
				type : "POST",
				dataType : "json",
				url : "/list/type",
				async : false,
				data : "",
				contentType : "application/x-www-form-urlencoded",
				success : function(result) {
					for (var i = 0; i < result.length; i++) {
						$(ele).append('<option value="'+result[i].contentType+'">' + result[i].typeName + '</option>');
					}
					//$("contentType");
				},
				error : function(data) {
					alert("error:" + data.responseText);
				}
			});
		}
		function getContent(id) {
			$.ajax({
				type : "POST",
				dataType : "json",
				url : "/list/getContent/" + id,
				contentType : "application/x-www-form-urlencoded",
				success : function(result) {
					getType("#contentType3");
					$("#contentName").val(result.contentName);
					$("#contentType3").val(result.contentType);
					$("#summary").val(result.summary);
					$("#edit_tn").attr("edit-id", id);
					var ue = UE.getEditor('editor2');
					ue.addListener("ready", function() {
						// editor准备好之后才可以使用
						ue.setContent(result.content);
					});
				},
				error : function(data) {
					alert("error:" + data.responseText);
				}
			});
		}

		function build_page_nav(result) {
			//page_nav_area
			$("#page_nav_area").empty();
			var ul = $("<ul></ul>").addClass("pagination");

			//构建元素
			var firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href", "#"));
			var prePageLi = $("<li></li>").append($("<a></a>").append("&laquo;"));
			if (result.hasPreviousPage == false) {
				firstPageLi.addClass("disabled");
				prePageLi.addClass("disabled");
			} else {
				//为元素添加点击翻页的事件
				firstPageLi.click(function() {
					getList(1);
				});
				prePageLi.click(function() {
					getList(result.pageNum - 1);
				});
			}

			var nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;"));
			var lastPageLi = $("<li></li>").append($("<a></a>").append("末页").attr("href", "#"));
			if (result.hasNextPage == false) {
				nextPageLi.addClass("disabled");
				lastPageLi.addClass("disabled");
			} else {
				nextPageLi.click(function() {
					getList(result.pageNum + 1);
				});
				lastPageLi.click(function() {
					getList(result.pages);
				});
			}

			//添加首页和前一页 的提示
			ul.append(firstPageLi).append(prePageLi);
			//1,2，3遍历给ul中添加页码提示
			$.each(result.navigatepageNums, function(index, item) {

				var numLi = $("<li></li>").append($("<a></a>").append(item));
				if (result.pageNum == item) {
					numLi.addClass("active");
				}
				numLi.click(function() {
					getList(item);
				});
				ul.append(numLi);
			});
			//添加下一页和末页 的提示
			ul.append(nextPageLi).append(lastPageLi);

			//把ul加入到nav
			var navEle = $("<nav></nav>").append(ul);
			navEle.appendTo("#page_nav_area");
		}
	</script>
</body>
</html>